.charts-table {
    overflow-y: scroll;
    height: 100%;
}

.row-body {
    overflow-y: hidden;
    flex-direction: column;
}

.row {
    margin: 0;
    /* display: block; */
    flex-wrap: nowrap;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}